    <div class="mat-typography paragraph">
        <h1>Plea In Supreme Court Seeks To Nationalise All Healthcare Facilities Till COVID-19 Pandemic Ends</h1>
        <h3>The plea, which claimed that India does not have sufficient public healthcare infrastructure to combat 
            the pandemic, has also sought a direction to all healthcare facilities, institutes, companies and related entities to provide free of cost tests and treatment for coronavirus.</h3>
    </div>  
    <mat-card class="example-card newscard">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Indian Health</mat-card-title>
          <mat-card-subtitle>Health Photo</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/health.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Indian Constitution makes the provision of healthcare in India the responsibility of the state governments, rather than the central federal government. It makes every state responsible for "raising the level of nutrition and the standard of living of its people and the improvement of public health as among its primary duties.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>