<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Our Problems</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="[ '/health' ]">Health</a>
      <a mat-list-item  [routerLink]="[ '/education' ]">Education</a>
      <a mat-list-item  [routerLink]="[ '/inequality' ]">InEquality</a>
      <a mat-list-item  [routerLink]="[ '/women-empowerment' ]">Women Empowerment</a>
      <a mat-list-item  [routerLink]="[ '/current-problems' ]">Current Problems  </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="nav-span1">LetsDebateAndFindSolution</span>
      <span class="nav-span2"><mat-form-field class="example-full-width">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      </span>
    </mat-toolbar>
   <ng-content #name></ng-content>
   
  </mat-sidenav-content>
</mat-sidenav-container>
